@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    min-height: fit-content;
    background: linear-gradient(#1c2e4c,#6cd0ff);
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header .logo{
    color: azure;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    color: antiquewhite;
    text-decoration: none;
    font-weight: 100;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,rgb(39, 1, 39),transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 10;
}
#text{
    position: absolute;
    right: -360px;
    color: aliceblue;
    font-size: 7em;
    white-space: nowrap;
    z-index: 9;
}
#btn{
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    padding: 8px 30px;
    background: white;
    color: blue;
    font: 1.5em;
    transform: translateY(100px);
    cursor: pointer;
    z-index: 0;
}

.sec{
    position: relative;
    padding: 20px;
    background-color: rgb(39, 1, 39);
    
}
.sec h2{
    font-size: 2.5rem;
    color: white;
}
.sec p{
    font-size: 1em;
    text-align: left;
    color: rgb(166, 158, 147);
}